* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  font: "Raleway";
  color: hsl(243, 100%, 93%);
  background-color: hsl(229, 57%, 11%);
  background-image: url(/images/bg-desktop.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 50vh;
  background-size: contain;
}
main {
  max-width: 1440px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media (max-width: 875px) {
  body {
    background-image: url(/images/bg-mobile.png);
    background-size: cover;
    background-position-y: unset;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* menu */
.menu {
  background-color: hsl(228, 56%, 26%);
  padding: 30px 90px 30px 30px;
  border-radius: 10px;
  border-top-right-radius: 75px;
}
.menu__img {
  width: 100px;
  margin-bottom: 20px;
}
.menu__btns {
  display: flex;
  gap: 15px;
}
.menu__btns > button {
  background-color: hsl(229, 57%, 11%);
  border-radius: 5px;
  padding: 10px;
  border: none;
}
.menu__btns > button > img {
  width: 22px;
  height: 18px;
}

/* display */
.display {
  background-color: hsl(228, 56%, 26%);
  padding: 30px 30px;
  border-radius: 10px;
  position: relative;
  top: 17px;
}
progress[value] {
  height: 16px;
  width: 400px;
  background-color: #151e49;
  border-radius: 10px;
  border: 2px solid #151e49;
  margin: 10px 0px;
}
progress[value]::-moz-progress-bar {
  background: linear-gradient(
    90deg,
    hsl(6, 100%, 80%) 0%,
    hsl(335, 100%, 65%) 100%
  );
  border-radius: 10px;
  position: relative;
}
.display__indicator {
  display: flex;
  justify-content: space-between;
}
.display__notification {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background-color: #ffff;
  color: hsl(229, 57%, 11%);
  position: absolute;
  left: 60%;
  top: -25%;
  border-radius: 5px;
  padding: 10px;
  gap: 5px;
}
.display__notification:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  border-style: solid;
  border-width: 0 25px 25px 0;
  border-color: transparent #ffff;
  bottom: -20px;
  right: 0px;
  margin-left: -12px;
}
.display__message {
  font-size: smaller;
}

/* utility classes */
.big-text {
  font-size: xx-large;
  font-weight: 700;
  opacity: 100%;
}
.small-text {
  font-size: xx-small;
}
.opacity-70 {
  opacity: 70%;
}
