* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  font: "Raleway";
  color: hsl(243, 100%, 93%);
  background-color: hsl(229, 57%, 11%);
  background-image: url(/images/bg-desktop.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 50vh;
  background-size: contain;
}
main {
  max-width: 1440px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* menu */
.menu {
  background-color: hsl(228, 56%, 26%);
  padding: 30px 90px 30px 30px;
  border-radius: 10px;
  border-top-right-radius: 60px;
}
.menu__img {
  width: 100px;
  margin-bottom: 20px;
}
.menu__btns {
  display: flex;
  gap: 15px;
}
.menu__btns > button {
  background-color: hsl(229, 57%, 11%);
  border-radius: 5px;
  padding: 10px;
  border: none;
}
.menu__btns > button > img {
  width: 22px;
  height: 18px;
}

/* display */
.display {
  background-color: hsl(228, 56%, 26%);
  padding: 30px;
  border-radius: 10px;
  position: relative;
}
.display__progress-bar {
  height: 16px;
  width: 400px;
  border-radius: 10px;
  background: hsl(6, 100%, 80%);
  background: linear-gradient(
    90deg,
    hsl(6, 100%, 80%) 0%,
    hsl(335, 100%, 65%) 100%
  );
  border: 2px solid hsl(229, 57%, 11%);
  background-color: hsl(229, 57%, 11%);
  margin: 10px 0px;
}
.display__progress {
  display: flex;
  justify-content: space-between;
}
.display__notification {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background-color: #ffff;
  color: #000;
  position: absolute;
  right: 7%;
  top: -20%;
  border-radius: 5px;
  padding: 10px;
  gap: 5px;
}
.display__notification:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  border-style: solid;
  border-width: 0 25px 25px 0;
  border-color: transparent #ffff;
  bottom: -20px;
  left: 92%;
  margin-left: -12px;
}
.display__message {
  font-size: smaller;
}

/* utility classes */
.big-text {
  font-size: xx-large;
  font-weight: 700;
  opacity: 100%;
}
.opacity-70 {
  opacity: 70%;
}
